.heading {
	color:rgba(290,290,290,1);
	font-size:3em;
}

.heading:hover {
	color: rgba(180,255,250,.9);
}


body {
	font-family: 'PT Mono', monospace;
	padding: 0;
  	margin: 0;
  	background-color: #181818;

}

.single-topic > h3 > a:hover {
	color: rgba(290,290,290,1);
}

.topics {
	display: flex;
	justify-content: space-between;
}

.single-topic > h3 > a > div {
	justify-content: center;
}

.card-descr {
	font-size: 0.7em;
}

.section-1 {
	padding-top: 2%;
	overflow:auto; 
}

.back {
	background-color: white;
	border-radius: 50%;
	height: 45px;
	width: 45px;
}

.card-headings {
	height: 220px;
	width: 360px;
	background-color: rgba(180,255,250,.9);
	color:black;
}

.card-title {
	margin: 5px;
}


.card-headings:hover {
	background-color: #1f6367;
}

.icons > a > img {
 height: 5vh;
 width: 5vh;
}

.last-line {
	color:rgba(250,250,250,1);
}
.card-project {
	flex-shrink: 1;
	height: 300px;
	width: 360px;
	margin:auto;
	align-items: center;
	display: flex; 
	justify-content: center;
  background-image: linear-gradient(to right, rgba(197, 239, 247, 0.8), rgba(230,230,230,1));
}

.card-project:hover {
	  background-image: linear-gradient(to right, rgba(197, 239, 247, 0.8), rgba(170,170,170,1
	  	));
}

h3 > a {
	color:rgba(250,250,250,0.9);
}

a > .card-project { 
	color:black;
 }


.full {
	flex-flow: row wrap;
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0
}


.card-titlee {
	margin: auto;
	font-size: 2.1rem;

}

i {
  border: solid white;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 6px;
}

.down {
	margin-left: 45%;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

@media (max-width:992px){
    .card-descr {
		font-size: 0.5em;
	}

	.card-title {
		margin: 2px;
		font-size: 0.9em;
	}

	.card-project {
		flex-shrink: 1;
		height: 250px;
		width: 250px;
		margin:auto;
		align-items: center;
		display: flex; 
		justify-content: center;
	  	background-image: linear-gradient(to right, rgba(197, 239, 247, 0.8), rgba(230,230,230,1));
	}

	.card-project > h5 {
		font-size: 0.6em;
	}

	.card-project > a {
		font-size: 0.7em;
	}

	.card-project:hover {
		  background-image: linear-gradient(to right, rgba(197, 239, 247, 0.8), rgba(170,170,170,1
		  	));
	}
}